# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Data files (too large for GitHub)
data/
processed_data/
*.zip

# macOS
.DS_Store

# LaTeX
*.aux
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.fls

# Temporary files
*.bak
*.tmp
